/* 搜索框样式  start*/
.searchwrap{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20upx 20upx;
	
}
	
.bodysearch{
	display: flex;
	flex-direction: row;
	color: #007AFF;
	background-color: #FFFFFF;
	height: 30px;
	border-radius: 5px;
	padding: 10upx;
	justify-content: space-between;
	align-items: center;
}
.searchimg{
	width: 30px;
	height: 30px;
}
.searchtext{
	color: #2C405A;
}
.bottomview{
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 10upx;
}
