/* 搜索框样式  start*/
.searchwrap{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20upx;
	
}
	
.bodysearch{
	display: flex;
	flex-direction: row;
	color: #007AFF;
	background-color: #FFFFFF;
	height: 40px;
	border-radius: 5px;
	padding: 10upx;
	justify-content: flex-start;
	align-items: center;
}
.searchimg{
	width: 30px;
	height: 30px;
}