.carousel{
	width: 100%;
	height: 193upx;
}
/* 覆盖组件内的样式 */
>>> .rightsee{
	display: none !important;
}
>>> .uni-tag{
	padding: 12px 6px;
	height: 20px;
	line-height: 20;
}
/* list列表 start 要分为6类*/
.listwrap{
	display: flex;
	flex-direction: column;
	padding: 20upx 20upx 10upx 20upx;
	background-color: #FFFFFF;
	border-bottom: 1px solid #EEE;
}
.listwrap1{
	display: flex;
	flex-direction: row;
}
.contentwrap{
	width: 90%;
}
.leftimg{
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 50%;
	flex-shrink: 0;
}
.titlewrap{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.eyeimg{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.title-fl{
	background: #FF7F00;
	font-size: 12px;
	color: #FFFFFF;
	margin-left: 4px;
	padding: 0 5px;
	flex-shrink: 0;
}
.title-zd{
	background: red;
	font-size: 12px;
	color: #FFFFFF;
	margin-left: 4px;
	padding: 0 5px;
	flex-shrink: 0;
}
.title-nicheng{
	color: #758096;
	margin-left: 10px;
	width: 100px;
	font-size: 14px;
	/* 添加省略号 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.rightsee{
	display: flex;
	flex-direction: row;  
	font-size: 14px;
	color: #999999;
	margin-left: auto;
}

/* 内容中的图片 */
.cont-img-wrap{
	display: flex;
	flex-direction: row;

	width: 260px;
	margin-top: 5px;
	flex-wrap: wrap;
}
.cont-img-wrap.active{
	height: auto;
	min-height: 80px;
}
.cont-img{
	width: 80px;
	height: 80px;
	margin-bottom: 2px;
	margin-right: 2px;
}
.moreimg-wrap{
	position: relative;
}
.moreimg-text{
	position:absolute; 
	z-index:2; 
	top: 0;
	left: 0;
	color:#FFFFFF;
	font-size: 12px;
	width: 80px;
	line-height: 80px;
	height: 80px;
	text-align: center;
	background-color:rgba(0,0,0,0.4);
}
.showmore{
	display: none;
}


.contentbody{
	font-size: 14px;
	margin-top: 10px;
	height: 180upx;
	overflow: hidden;
}
.contentbody.active{
	height: auto;
	min-height: 100px;
}
.msgcontent{
	padding: 0 10upx 0 0;
	line-height: 22px;
}
.content-tag{
	display: inline-block;
	color:#FF7F00;
	font-size: 14px;
	font-weight: bold;
	margin-right: 5px;
}	
.tagtag{
	margin: 0 3px 3px 0;
	display: inline-block;
}	

.callphone{
	display: inline-block;
	margin-top: 5px;
	background-color: #35A6EE;
	color: #FFFFFF;
	padding: 4px;
	border-radius: 5px;
	margin-right: 5px;
}
.sendmsg{
	display: inline-block;
	margin-top: 5px;
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
	border-radius: 5px;
	margin-right: 5px;
	border: 1px solid #D9D9D9;
}
.disall{
	color: #35A6EE;
	margin-top: 5px;
	font-size: 14px;
}
.content-phone{
	font-weight: bold;
	margin-top: 5px;
}
/* 底部的按钮 start */
.bottombtnwrap{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-shrink: 0;
	padding: 5px 0px 5px 10px;
	margin-top: 5px;
}
.optbtn{
	display: inline-block;
	background: #FFFFFF;
	color: #000000;
	margin-left: 5px;
	margin-right: 5px;
}
/* 底部的按钮 start */
/* 分享按钮 start*/
.back-top{
	position: fixed;
	bottom:70px;
	right: 15px;
	height: 50px;
	z-index: 100;
}
.back-top image {
  width: 20px;
  height: 20px;
}
.share-text{
	font-size: 8px;
	text-align: center;
	margin-top: -5px;
	color: #FF72AC;
}
/* 分享按钮 end*/

/* 底部关注 start */
.ecodewrap{
	display: flex;
	flex-direction: row;
	padding: 20upx;
	font-size: 16px;
	background-color: #35a6ee;
	position: fixed;
	bottom: 0;
}
.dleft-text{
	height: 60px;
	line-height: 30px;
	color:#FFFFFF;
/* 	background-image:-webkit-linear-gradient(bottom,#7d1707,#fd8403,#7d1707);
	-webkit-background-clip:text; 
	-webkit-text-fill-color:transparent; */
}
.ewmimg{
	width: 60px;
	height: 60px;
	flex-shrink: 0;
}
/* 底部关注 end */