.msgwrap{
	display: flex;
	flex-direction: row;
	padding: 20upx;
	background-color: #FFFFFF;
	margin-bottom: 5px;
}
.tximg{
	height: 100upx;
	width: 100upx;
	border-radius: 50%;
	flex-shrink: 0;
}
.rightwrap{
	display: flex;
	flex-direction: column;
	margin-left: 20upx;
}
.timetext{
	font-size: 14px;
}
.msgtext{
	margin-top: 5px;
	font-size: 14px;
	width: 580upx;
		/* 添加省略号 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.line-wrap{
	padding: 0;
}
 