.timewrap{
	color: #999999;
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 14px;
	padding-right: 10upx;
	position: relative;
	align-items: center;
}
.shangsanjiao{
	border-bottom: 8px solid #F5F5F5;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	width: 1px;
	margin-top: 5px;
	margin-left:10px;
}
.viewwrap{
	display: flex;
	flex-direction: row;
	padding:5px;
	/* background-color: #F5F5F5; */
	align-items: center;
}
.viewleftimg{
	width: 13px;
	height: 13px;
}
.view-count{
	font-size: 14px;
	/* color: #758096; */
	margin-left: 10px;
}
 .donghuawrap{
	 background-color:#4C5154; 
	 display: flex;
	 flex-direction: row;
	 z-index: 100;
	 border-radius: 10px;
	 padding: 10upx 0;
	 /* 动画效果*/
	 visibility:hidden;
     opacity:0;
     transform:translateY(100px);
     transition:.3s;
	 
	 position: absolute;
	 right: 15%;
	 top: -15px;
	 overflow: hidden;
 }
 
 .gdshow{
   visibility:visible;
   opacity:1;
   transform:translateY(0);
 }
 
 .dt-item{
	color: #FFFFFF;
	border-right: #373D40 1px solid;
	display: flex;
	flex-direction: row;
    align-items: center;
	height: 26px;
	padding: 0upx 20upx;
 }
 .dt-text{
	 font-size: 14px;
	 display: inline-block;
	 height: 25px;
	 line-height: 25px;
	 margin-left: 5px;
 }
 
.comment-wrap{
	background-color: #F5F5F5;
	border-top: 1px solid #EEEEEE;
	font-size: 14px;
} 
.comment-item{
	padding: 5px ;
}
 .comment-nickname{
	display: inline-block;
	color: #758096;
	margin-right: 5px;
 }
 .morecomment{
	color:#888888; 
	padding-bottom: 10upx;
	padding-left: 5px;
 }


/* 留言的弹出层 */
.auditwraper{
	display: flex;
	flex-direction: column;
	padding: 10upx;
	border: #E3E3E3 solid 1px;
	border-radius: 10px;
	background: #FFFFFF;
}
.head-title{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
}
.text-input{
	width: 490upx; 
	height: 180upx;
}
.textareawrap1{
	padding: 20upx;
	width: 500upx;
/* 	border-top: #F1F1F1 solid 1px; */
}

.audit-bottom{
	display: flex;
	flex-direction: row;
}
.audit-text{
	flex: 1;
	line-height: 80upx;
	height: 80upx;
	font-size: 14px;
	text-align: center;

}
.no{
	border-right:#F1F1F1 solid 1px;
	border-top:#F1F1F1 solid 1px;
	color: #000000;
}
.ok{
	border-top:#F1F1F1 solid 1px;
}
 	 
